<!DOCTYPE html>

<html lang="en" class="no-js">
	<head><!--[if IE]>	/* 
         __       __             __                          __    __                      __       
|  \     /  \           |  \                        |  \  |  \                    |  \      
| $$\   /  $$  ______  _| $$_     ______    ______  | $$  | $$  ______    _______ | $$   __ 
| $$$\ /  $$$ /      \|   $$ \   /      \  /      \ | $$__| $$ |      \  /       \| $$  /  \
| $$$$\  $$$$|  $$$$$$\\$$$$$$  |  $$$$$$\|  $$$$$$\| $$    $$  \$$$$$$\|  $$$$$$$| $$_/  $$
| $$\$$ $$ $$| $$    $$ | $$ __ | $$   \$$| $$  | $$| $$$$$$$$ /      $$| $$      | $$   $$ 
| $$ \$$$| $$| $$$$$$$$ | $$|  \| $$      | $$__/ $$| $$  | $$|  $$$$$$$| $$_____ | $$$$$$\ 
| $$  \$ | $$ \$$     \  \$$  $$| $$       \$$    $$| $$  | $$ \$$    $$ \$$     \| $$  \$$\
 \$$      \$$  \$$$$$$$   \$$$$  \$$        \$$$$$$  \$$   \$$  \$$$$$$$  \$$$$$$$ \$$   \$$
                                                                                        
*/<![endif]-->
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>MetroHack</title>
		<meta name="description" content="Examples for creative website header animations using Canvas and JavaScript" />
		<meta name="keywords" content="header, canvas, animated, creative, inspiration, javascript" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/demo.css" />
		<link rel="stylesheet" type="text/css" href="css/component.css" />
		<link href='http://fonts.googleapis.com/css?family=Raleway:200,400,800' rel='stylesheet' type='text/css'>
		<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
        
        <!--Template del login-->
        <link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	    <link rel="stylesheet" href="css/style.css"> <!-- Gem style -->
	    <script src="js/modernizr.js"></script> <!-- Modernizr -->

        <link rel="stylesheet" type="text/css" href="css/launcher.css" />
        
            <!-- Parse -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//www.parsecdn.com/js/parse-1.6.7.min.js"></script>
        <script src="js/parseUserLogin.js"></script> <!-- parseAdmin --> 
        
        
	</head>
	<body>            
		<div class="container demo-1">
			<div class="content">
				<div id="large-header" class="large-header">
					<canvas id="demo-canvas"></canvas>
					<h1 class="main-title">Metro<span class="thin">Hack</span></h1>
                    <a class="entrar-button" href="#0" id="entrar">Entrar</a>
                    
                    
<!-- ********************************************************TEMPLATE LOGIN******************************************************** -->
                            <div class="cd-user-modal"> <!-- this is the entire modal form, including the background -->
                            <div class="cd-user-modal-container"> <!-- this is the container wrapper -->
                                <ul class="cd-switcher">
                                    <li><a href="#0">Inicia Sesión</a></li>
                                    <li><a href="#0">Regístrate</a></li>
                                </ul>

                                <div id="cd-login"> <!-- log in form -->
                                    <form class="cd-form" name="normal-login">
                                        <p class="fieldset">
                                            <label class="image-replace cd-username" for="signin-email">E-mail</label>
                                            <input class="full-width has-padding has-border" id="signin-email" type="text" name="user" placeholder="Usuario">
                                            <span class="cd-error-message">Error message here!</span>
                                        </p>

                                        <p class="fieldset">
                                            <label class="image-replace cd-password" for="signin-password">Password</label>
                                            <input class="full-width has-padding has-border" id="signin-password" type="password"  name="password" placeholder="Contraseña">
                                            <a href="#0" class="hide-password">Hide</a>
                                            <span class="cd-error-message">Error message here!</span>
                                        </p>

                                        <p class="fieldset">
                                            <input type="checkbox" id="remember-me" checked>
                                            <label for="remember-me">Recordar</label>
                                        </p>

                                        <p class="fieldset">
                                            <input class="full-width" type="submit" value="Login" onClick="normalLogin(this.form)">
                                        </p>
                                    </form>

                                    <p class="cd-form-bottom-message"><a href="#0">Olvidaste la Contraseña?</a></p>
                                    <!-- <a href="#0" class="cd-close-form">Close</a> -->
                                </div> <!-- cd-login -->

                                <div id="cd-signup"> <!-- sign up form -->
                                    <form class="cd-form">
                                        <p class="fieldset">
                                            <label class="image-replace cd-username" for="signup-username">Username</label>
                                            <input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Usuario">
                                            <span class="cd-error-message">Error message here!</span>
                                        </p>

                                        <p class="fieldset">
                                            <label class="image-replace cd-email" for="signup-email">E-mail</label>
                                            <input class="full-width has-padding has-border" id="signup-email" type="email" placeholder="E-mail">
                                            <span class="cd-error-message">Error message here!</span>
                                        </p>

                                        <p class="fieldset">
                                            <label class="image-replace cd-password" for="signup-password">Password</label>
                                            <input class="full-width has-padding has-border" id="signup-password" type="password"  placeholder="Contraseña">
                                            <a href="#0" class="hide-password">Hide</a>
                                            <span class="cd-error-message">Error message here!</span>
                                        </p>

                                        <p class="fieldset">
                                            <input type="checkbox" id="accept-terms">
                                            <label for="accept-terms">Acepto los <a href="#0">Términos</a></label>
                                        </p>

                                        <p class="fieldset">
                                            <input class="full-width has-padding" type="submit" value="Crea tu Cuenta">
                                        </p>
                                    </form>

                                    <!-- <a href="#0" class="cd-close-form">Close</a> -->
                                </div> <!-- cd-signup -->

                                <div id="cd-reset-password"> <!-- reset password form -->
                                    <p class="cd-form-message">Olvidaste tu Contraseña? Coloca tu E-mail. Recibiras un link para cambiarla.</p>

                                    <form class="cd-form">
                                        <p class="fieldset">
                                            <label class="image-replace cd-email" for="reset-email">E-mail</label>
                                            <input class="full-width has-padding has-border" id="reset-email" type="email" placeholder="E-mail">
                                            <span class="cd-error-message">Error message here!</span>
                                        </p>

                                        <p class="fieldset">
                                            <input class="full-width has-padding" type="submit" value="Reset password">
                                        </p>
                                    </form>

                                    <p class="cd-form-bottom-message"><a href="#0">Regresa al Login</a></p>
                                </div> <!-- cd-reset-password -->
                                <a href="#0" class="cd-close-form">Close</a>
                            </div> <!-- cd-user-modal-container -->
                        </div> <!-- cd-user-modal -->
                    
<!-- ********************************************************TEMPLATE LOGIN******************************************************** -->
                       
        
        <script src="js/main.js"></script> <!-- Gem jQuery -->
		<script src="js/TweenLite.min.js"></script>
		<script src="js/EasePack.min.js"></script>
		<script src="js/rAF.js"></script>
		<script src="js/demo-1.js"></script>
	</body>
</html>