.entrar-button {
	position: absolute;
	margin: 0;
	color: #f9f1e9;
	text-align: center;
	top: 63%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
 
	padding: 10px 47px;
	font-size: 18px;
	line-height: 1.5;
	border-radius: 500px;
	padding: 11px 47px 9px;
	-webkit-transition: background-color .15s ease,border-color .15s ease,color .15s ease;
	-o-transition: background-color .15s ease,border-color .15s ease,color .15s ease;
	transition: background-color .15s ease,border-color .15s ease,color .15s ease;
	border-width: 0;
	letter-spacing: 1.2px;
	min-width: 130px;
	text-transform: uppercase;
	white-space: normal;
	border: 1px solid rgba(255, 255, 255, 0.6);
  
}